<!-- <h1 style="text-align: center; size: 100px;">well come </h1> -->


<!-- <app-parent></app-parent> -->


<!-- <br>
<br>
<table>
  <thead>
    <tr>
    <th>id</th>
    <th>name</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let option of array ">
      <td><input type="text" [(ngModel)]="option.empId"   (ngModelChange)="click(option)" placeholder="id"></td>
      <td><input type="text" [(ngModel)]="option.name"   (ngModelChange)="click(option)" placeholder="name"></td>
    
    </tr>
  </tbody>
</table>

<p>{{testName}}</p>

<button (click)="timeout()">click</button>

<div class="table-container" >
  <table>
    <tr *ngFor="let row of tableData">
      <td class="approve-comment">Approve Comments</td>
      <td class="comment-details">
        <div>
          <strong>Given By:</strong> <span class="text-green">{{ row.givenBy }}</span>
        </div>
        <div>
          <strong>Given Date:</strong>
          <span class="text-orange">{{ row.givenDate }}</span>
        </div>
      </td>
      <td>
        <input
          type="text"
          class="comment-input"
          [value]="row.commentText"
          readonly
        />
      </td>
    </tr>
  </table>
</div> -->

<!-- <app-boostrap-practice></app-boostrap-practice> -->
<!-- <app-parent></app-parent> -->
 <!-- <app-child></app-child> -->
 <!-- <app-parent></app-parent>
 <app-child></app-child> -->
 <!-- <app-todo-list></app-todo-list> -->
<!-- <app-test></app-test> -->
 <app-light></app-light>